<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Alexey/Documents/GitHub/ConeProject/test/test/fyodorov/coneproject/processing/ConeProcessingTest.java">
        <classes>
            <class name="test.fyodorov.coneproject.processing.ConeProcessingTest">
                <methods>
                    <include name="testGetVolumeBasePositive"/>
                    <include name="testGetVolumeIsoPositive"/>
                    <include name="testCoordinateDivisionPositive"/>
                    <include name="testCoordinateDivisionNegative"/>
                    <include name="testCoordinateDivisionCordNegative"/>
                    <include name="testCoordinateStatePositive"/>
                    <include name="testCoordinateStateIsoNegative"/>
                    <include name="testIsConePositive"/>
                    <include name="testIsConeRadNegative"/>
                    <include name="testIsConePointNegative"/>
                    <include name="testGetSquare"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>