<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Alexey/Documents/GitHub/ConeProject/test/test/fyodorov/coneproject/processing/ConeProcessingTest.java">
        <classes>
            <class name="test.fyodorov.coneproject.action.ConeProcessingTest">
                <methods>
                    <include name="testGetVolumeBasePositive"/>
                    <include name="testGetVolumeIsoPositive"/>
                    <include name="testCoordinateDivisionPositive"/>
                    <include name="testCoordinateDivisionNegative"/>
                    <include name="testCoordinateDivisionCordNegative"/>
                    <include name="testCoordinateStatePositive"/>
                    <include name="testCoordinateStateIsoNegative"/>
                    <include name="testIsConePositive"/>
                    <include name="testIsConeRadNegative"/>
                    <include name="testIsConePointNegative"/>
                    <include name="testGetSquare"/>
                </methods>
            </class>
            <class name="test.fyodorov.coneproject.action.FileProcessingTest">
                <methods>
                    <include name="testCreateAll"/>
                    <include name="testCreateAllNegative"/>
                    <include name="testValidateAll"/>
                </methods>
            </class>
            <class name="test.fyodorov.coneproject.action.ConeAutoTest">
                <methods>
                    <include name="testCoordDivisionAll"/>
                    <include name="testCoordStateAll"/>
                    <include name="testIsConeAll"/>
                    <include name="testSquareAll"/>
                    <include name="testVolumeAll"/>
                </methods>
            </class>
            <class name="test.fyodorov.coneproject.register.ConeRegisterTest">
                <methods>
                    <include name="testConeListenerPositive"/>
                    <include name="testConeListenerNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>